<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Breast Cancer Detection</title>
  <style>
    /*just bg and body style*/
    body {
      margin: 40px;
      background-color: #ffffff;
    }

    .container {
      border-radius: 5px;
      text-align: center;
    }

    .btn-container {
      background: white;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      border-radius: 5px;
      padding: 10px;
    }

    .head {
      font-weight: bolder;
    }

    .btn-primary {
      border-color: #ff33f !important;
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #de5499 !important;
      border-color: #de5499 !important;
      padding: 5px;
    }

    label {
      width: 50%;
    }

    #predict {
      display: none;
    }

    .form-group {
      padding: 2px;
    }
  </style>
  <!--Font Awesome-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="head">Breast Cancer Detection</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="btn-container">
          <!-- Main Input For Receiving Query to our ML -->
          <form action="{{ url_for('predict')}}" method="post" class="form-inline">
            <div class="row">
              <div class="col-md-6">
                <div class="container">
                  <h4>Enter Cell Details</h4>
                  <div class="form-group">
                    <label for="clump_thickness">Clump Thickness </label>
                    <input type="text" class="form-control" name="clump_thickness" required="required">
                  </div>
                  <div class="form-group">
                    <label for="uniform_cell_size">Uniform Cell size</label>
                    <input type="text" class="form-control" name="uniform_cell_size" required="required">
                  </div>
                  <div class="form-group">
                    <label for="uniform_cell_shape">Uniform Cell shape</label>
                    <input type="text" class="form-control" name="uniform_cell_shape" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="marginal_adhesion">Marginal Adhesion</label>
                    <input type="text" class="form-control" name="marginal_adhesion" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="single_epithelial_size">Single Epithelial Cell Size</label>
                    <input type="text" class="form-control" name="single_epithelial_size" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="bare_nuclei">Bare Nuclei</label>
                    <input type="text" class="form-control" name="bare_nuclei" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="bland_chromatin">Bland Chromatin</label>
                    <input type="text" class="form-control" name="bland_chromatin" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="normal_nucleoli">Normal Nucleoli</label>
                    <input type="text" class="form-control" name="normal_nucleoli" required="required" />
                  </div>

                  <div class="form-group">
                    <label for="mitoses">Mitoses</label>
                    <input type="text" class="form-control" name="mitoses" required="required" />
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg">Predict Cancer</button>
                </div>
              </div>
            </div>
          </form>
        <br />
        <center>
          <h1>{{prediction_text}}</h1>
        </center>
        <br />
</body>

</html>