<html>
<head>
    <title>RiskAssess | Terms & Conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>
<body>
    <form id="form1">
        <div id="timetable"><br/>
        <div style="text-align:center;"><h3>Terms & Conditions</h3></div><br />
        <div class="container themed-container">
            RiskAssess reserves all the rights to &copy;riskassess proprietary Software to Generate Risk Assessments.
            Any infringement on the proprietary Software will be deemed as breaking the law under the "RIGHT TO INTELLECTUAL PROPERTY" Act.
        </div>
        </div>
    </form>
</body>
</html>
